.container-md {
    max-width: 800px;
    margin: 0 auto;
}

.tabledata {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabledetails {
    width: 100%;
    text-align: left;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

th, td {
    padding: 12px;
    text-align: left;
    border: 2px solid black;
}

th {
    background-color: #f8f9fa;
}

.input-group {
    margin-bottom: 15px;
}

.input-group-text{
    padding-left: 10px;
}
button {
    margin-top: 20px;
    width: 100%;
}

.editData {
    padding: 5px;
    background-color: royalblue;
    color: white;
    width: 60px;
    text-align: center;
    border: none;
}

.deleteData {
    padding: 5px;
    background-color: red;
    color: white;
    width: 60px;
    text-align: center;
    border: none;
}
